RewriteEngine On

# Enforce HTTPS on all URIs.
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,NC,NE,R=301]

# Canonicalize URLs to have at most one slash in a row.
RewriteCond %{THE_REQUEST} \s[^?]*//
RewriteRule ^.*$ /$0 [L,NC,NE,R=301]

# Rewrite directory indexes to their parent directories.
RewriteRule ^index\.html$ / [L,NC,NE,R=301]
RewriteRule ^(.*)/index\.html$ /$1/ [L,NC,NE,R=301]

# Redirect nonexistent root directory files to the directory of the latest post.
RewriteRule ^/*$ /2020/06/27/ [L,NC,NE,R=307]
RewriteCond %{REQUEST_URI} !^/.*/.*$
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /2020/06/27/$1 [L,NC,NE,R=307]

# Canonicalize valid directory URLs to have at least one trailing slash.
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*[^/])$ /$1/ [L,NC,NE,R=301]

# Disable caching of most static files.
<FilesMatch "\.(css|html|js)$">
    <IfModule mod_expires.c>
        ExpiresActive Off
    </IfModule>
    <IfModule mod_headers.c>
        FileETag None
        Header unset ETag
        Header unset Pragma
        Header unset Cache-Control
        Header unset Last-Modified
        Header set Pragma "no-cache"
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
        Header set Expires "Mon, 10 Apr 1972 00:00:00 GMT"
    </IfModule>
</FilesMatch>

# Redirect 404s to the home page.
ErrorDocument 404 https://skalon.com
