html,
body {
  height: 100%;
  width: 100%;
}

a {
  color: mediumspringgreen;
  background: black;
  opacity: 0.9;
  text-decoration: none;
}

a[disabled] {
  color: black;
}

#content {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("/img/PP.png");
  background-repeat: repeat;
  background-size: 150px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  overflow: hidden;
}

#previous,
#next {
  position: absolute;
  left: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  font-size: 30px;
}

#previous {
  top: 90px;
  height: 62px;
  width: 90px;
}

#next {
  top: 332px;
  height: 62px;
  width: 90px;
}

#published {
  display: none;
}
