@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");

html,
body {
  height: 100%;
  width: 100%;
}

#content {
  display: inline-block;
  margin: 20px;
  text-align: justify;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: blue;
}

a[disabled] {
  color: #999;
}

#next {
  float: right;
}

#published {
  display: none;
}
