html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

a {
  color: blue;
  background: pink;
  text-decoration: none;
}

#content {
  height: 100%;
  width: 100%;
  background-image: url("/img/BB.png");
  background-repeat: repeat;
  background-size: 175px;
  font-family: monospace;
  font-size: 20px;
}

#prev, #next {
  position: absolute;
  top: 45px;
}

#prev {
  left: 160px;
}

#next {
  left: 350px;
}

#published {
  display: none;
}
