html,
body {
  width: 100%;
  height: 100%;
}

a {
  background: pink;
  text-decoration: none;
  color: blue;
}

#content {
  position: relative;
  background-image: url("/img/BB.png");
  background-repeat: repeat;
  background-size: 175px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: monospace;
  font-size: 20px;
}

#previous,
#next {
  position: absolute;
  top: 45px;
}

#previous {
  left: 160px;
}

#next {
  left: 350px;
}

#published {
  display: none;
}
